@using BabyKlockan_3.Models
@using BabyKlockan_3.Services
@using System.Diagnostics
@inject ContractionService contractionService



<button class="btn" onclick="@ShowAllContractions">Visa alla sparade värkar</button>
<button onclick="@DeleteAllContractions">Rensa hela listan</button>

@if (contractions.Count == 0)
{
    <p>Inga värkar loggade ännu.</p>
}
else
{
<div class="dataPresentation">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Längd</th>
                <th>Vila</th>
            </tr>
        </thead>
        <tbody>

                @for (int i = 0; i < contractions.Count; i++)
                {
                    var contraction = contractions[i];
                    var restTime = contraction.RestTime?.ToString(@"mm\:ss");

                    <tr>
                        <td>@contraction.Number</td>
                        <td>@contraction.Duration.ToString(@"mm\:ss")</td>

                        <td class="rest-visual">
                            @if (i > 0 && contraction.RestTime.HasValue)
                            {
                                <div class="rest-block">
                                    <span class="arrow">⟵<i class="fa-solid fa-arrow-left-long"></i></span>
                                    <span class="rest-time">@restTime</span>
                                </div>
                            }
                        </td>

                        <td>
                            <button @onclick="async () => await RemoveContraction(contraction.Id)" class="btn-remove">Ta bort</button>
                        </td>
                    </tr>
                }
            
        </tbody>
    </table>
    </div>



}

@code {
    //Parameter för att kunna ta emot värkar från föräldern
    [Parameter] public List<ContractionModel> contractions { get; set; } = new List<ContractionModel>();
    //EventCallback i din komponent som föräldern kan lyssna på för att ta emot uppdaterad lista.
    [Parameter] public EventCallback<List<ContractionModel>> OnContractionChange { get; set; }

    int counter = 1;

    private async Task ShowAllContractions()
    {
        contractions = await contractionService.GetAllContractionsAsync();
    }

    private async Task DeleteAllContractions()
    {
        await contractionService.ClearListAsync();
        //rensa listan i komponenten
        contractions.Clear();
        StateHasChanged();
    }

    //på Init, hämta alla värkar med data från service
    // protected override async Task OnInitializedAsync()
    // {
    //     contractions = await contractionService.GetAllContractionsAsync();
    // }




    // public async Task RefreshList()
    // {
    //     //hämta hela listan och uppdatera sen UI
    //     contractions = await contractionService.GetAllContractionsAsync();
    //     StateHasChanged();
    // }


    /// <summary>
    /// Tar bort värken från Listan
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>

    private async Task RemoveContraction(Guid id)
    {
        Debug.WriteLine($"Värk nummer {id} är borttagen");

        //anropa service, hämta data från db
        await contractionService.RemoveContractionByIdAsync(id);

        //Ta bort från UI-listan 
        var contractionToRemove = contractions.FirstOrDefault(c => c.Id == id);
        if (contractionToRemove != null)
        {
            //ta brot från listan
            contractions.Remove(contractionToRemove);

            //Uppdatera UI
            StateHasChanged();
        }

    }


}